.card:hover{
    opacity: 0.8;
    cursor: pointer;
}
.blur{
    filter: blur(1.5px);
}
.resume-section img{
    min-height:auto;
    min-width:auto;
    height: 180px;
}
.card-body{
    min-height:auto;
    min-width:auto;
    min-height: 290px;
}
.card-footer{
    background-color: transparent;
}
.card-footer a{
    color: #495057;
}
.card-footer a:hover{
    color: #17a2b8 !important;
}
.card-text{
 color: #868e96;
}
.youtube-icon{
    font-size: 50px;
    margin: 10px;
}
.youtube-icon a{
    color: #495057;
    padding: 5px;
    margin: 5px;
}
.youtube-icon a:hover{
    text-decoration: none;
    color: #17a2b8 !important;
}
.lang{
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.74);
    font-size: 12px;
}